*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 15%;
    height: 100%;
    box-shadow: 1px 10px 30px rgb(202, 200, 200);
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    position:relative;
}

.sidebar_main__header, .sidebar_application__header{
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 700;
}

.sidebar_main, .sidebar_application{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    
}

hr{
    width: 80%;
    color: black;
    opacity: 0.3;
}

.product{
    width: 30%;
    margin: 200px auto;

}


.sidebar_main button, .sidebar_application button{
    padding: 20px;
    width: 100%;
    margin-top: 5px;
    border: none;
    background:transparent;
    cursor: pointer;
    font-size: 18px;

}



.sidebar_main button:hover, .sidebar_application button:hover{
    background-color: #5D87FF;
    border-radius: 10px;
    color: white;
    transition: 0.2s;

}

.sidebar_main button:focus, .sidebar_application button:focus{
    background-color: #5D87FF;
    border-radius: 10px;
    color: white;
}




.nabvar_navbar{
    width: 85%;
    box-shadow: 20px 0px 20px 1px rgb(173, 173, 173);
    background-color: #ffffff;
    height: 100px;
    background-color: #5D87FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    position: absolute;

}

.account{
    width: 15%;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#account_icon {
    width: 50px;
    border: 3px solid;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    border-color: #ffffff;
    background: url('icon/icon_user.png');
    background-position: center;
    background-size: contain;
}
#account_menu{
    background: url('icon/icon_settings.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
    /* transition: 3s; */
}
#account_logout{
    background: url('icon/icon_logout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
    color: white;
}


#account_icon:hover, #account_logout:hover{
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}

#account_menu:hover{
    transform: rotate(180deg);
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);

}

main{
    display: flex;
    width: 100%;
    height: 100%;
}

.table_prouct{
    width: 50%;
    margin: 200px auto;
}

#prod_table{
    display: flex;
    flex-direction: column;
}

#table_header, #table_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#table_header{
    background-color: #5D87FF;
    color: #ffffff;
}
#table_body{
    background-color: #8798c5cf;
    color: #ffffff;
}
#table_body:hover, #button_add_row:hover{
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}


.table_header__item, .table_body__item{
    width: 20%;
    padding: 10px;
}

#button_add_row{
    padding: 10px;
    cursor: pointer;
    background-color: #8798c5cf;
    color: #ffffff;
    text-align: center;
}


